@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');


* {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #6e6e6e;
	font-size: 12px;
}

img {
	border: 0;
}

ul {
	list-style: none;
}

.center {
	width: 100%;
	height: 100vh !important;
    margin: auto;
}

.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  border: 10px solid #efefef;
  border-top: 10px solid #ff8f3f;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
  top: 50%;
  left: 50%;
  transition: .3s;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: loader 2s linear infinite;
}

.loader-inner {
  width:40px;
  height: 40px;
  margin: auto;
  transform: translate(0, 0) rotate(0deg);
  border-radius: 50%;
  border: 8px solid #e2e2e2;
  border-bottom: 8px solid #66a0ff;
  animation: loaderInner 1s linear reverse infinite;
}

@keyframes loader {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loaderInner {
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

/* Required styles for the slider */

.slider {
	position: relative;
	overflow: hidden;
	transition: 0.3s;
}

.slider ul {
	position: absolute;
}

.slider li {
	float: left;
	line-height: 0;
	text-align: center;
}

.slider li img {
	width: 100%;
}

.navigator {
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
}

.navigator span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 3px;
	background: #606161;
	margin: 0 4px;
	transition: 0.1s;
	position: relative;
	top: 0;
}

.navigator span.active {
	background: orange;
	width: 10px;
	height: 10px;
}

.slider > span {
	position: absolute;
	top: 50%;
	background: rgba(0,0,0,0.5);
	z-index: 1;
	padding: 6px 10px;
	margin: -10px 0 0;
	color: white;
	cursor: pointer;
	transition: 0.3s;
}

.prev {
	left: 0;
	transform: rotate(90deg);
	transform-origin: 0 0;
}

.next {
	right: -1px;
	transform: rotate(-90deg);
	transform-origin: 100% 0%;
}

.slider:hover span, .slider:hover .autoPlay {
	transform: rotate(0deg);
}

.autoPlay {
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	transform: translateY(50px);
	transition: .3s;
}

.autoPlay label {
	background: rgba(0, 0, 0, .4);
	padding: 10px;
	display: block;
}

.autoPlay .chkbox {
	display: none;
}

.autoPlay .chkbox:checked + label {
	background: rgba(0, 0, 0, .7);
}

/* Make it adaptive to any layout */

@media (max-width: 1200px) { 
	.center {
		width: 100%;
		padding: 0 15px;
	}
}

/* Required styles for the slider */

